footer#site-footer.footer
	.content
		p.brand-name QTRO PUG TEMPLATE

		ul.sns-list
			li.sns-item.insta
				a(href='' target="_blank")
					img(src=imgComDir + 'common/icon-insta.svg', alt='instagram')
			li.sns-item.tiktok
				a(href='')
					img(src=imgComDir + 'common/icon-tiktok.svg', alt='tiktok')
			li.sns-item.fb
				a(href='')
					img(src=imgComDir + 'common/icon-fb.svg', alt='facebook')

		p.copyright © 2022 QTRO PUG TEMPLATE
