header#site-header.site-header

  = "\n"
  block masthead
    // MASTHEAD
    .masthead
        p.brand-name QTRO
    // END MASTHEAD


  = "\n"
  block globalnav
    // GLOBAL NAV
    nav.globalnav#js-globalnav
      .content
        nav.gnav
          ul.gnav-list
            li.gnav-item.gnav1
              a(href= pageDir + '/works/') works
            li.gnav-item.gnav2
              a(href= pageDir + '/works/') works
            li.gnav-item.gnav3
              a(href= pageDir + '/works/') works
            li.gnav-item.gnav4
              a(href= pageDir + '/works/') works
            li.gnav-item.gnav5
              a(href= pageDir + '/works/') works
            li.gnav-item.gnav6
              a(href= pageDir + '/works/') works
            li.gnav-item.gnav7
              a(href= pageDir + '/works/') works

    // END GLOBAL NAV



  //- = "\n"
  //- include h-menu-hamburger
  //- = "\n"
